[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotpy = {extras = ["rev", "commands2"], version = "*"}
wpilib = {extras = ["all"], version = "*"}
pyyaml = "*"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
