[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotpy = {extras = ["rev", "ctre", "commands2"], version = "*"}
wpilib = {extras = ["all"], version = "*"}
pyyaml = "*"
black = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
