[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotpy = {extras = ["rev"], version = "*"}
wpilib = {extras = ["all"], version = "*"}
pyyaml = "*"

[dev-packages]
