.wrapper {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.connection_state {
    margin-bottom: 6px;
}

.swerve_drive_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    margin-top: 0px;margin-top: 0px;
}

.canvas_wrapper {
    padding: 6px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #666;
    margin-right: 12px;
}

.camera_wrapper {
    padding: 6px;
    border: 1px solid #777;
    background-color: #666;
    border-radius: 4px;
}

.camera_container {
    height: 300px;
    width: 300px;
}

.data_wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.temp_table {
    background-color: #666;

}

.temp_table td {
    width: auto;
    border: 1px solid black;
}

.pid_table {
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #666;
    padding: 12px;
    margin-left: 12px;
}

.input_container {
}

.input_container label {
    width: 24px;
    display: inline-block;
}

.auto_wrapper {
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #666;
    padding: 12px;
    margin-right: 12px;
}

.auto_wrapper label {
    display: block;
}

.auto_wrapper select {
    width: 100px;
}
